// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/ {
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		heartbeat-led {
			label = "Heartbeat";
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		led-1 {
			label = "LED 1";
			gpios = <&gpio4 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-2 {
			label = "LED 2";
			gpios = <&gpio5 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-3 {
			label = "LED 3";
			gpios = <&gpio4 31 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-4 {
			label = "LED 4";
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-5 {
			label = "LED 5";
			gpios = <&gpio4 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-6 {
			label = "LED 6";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	gpio-ctrl-pins {
		compatible = "gpio-ctrl-pins";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctrl_signals>;
		status = "okay";

		sim-switch {
			label = "SIM Select";
			gpios = <&gpio3 27 GPIO_ACTIVE_HIGH>;
		};

		cell-enabled {
			label = "Cellular Enabled";
			gpios = <&gpio4 12 GPIO_ACTIVE_LOW>;
		};

		wifi-power-down {
			label = "Wi-Fi Power Down";
			gpios = <&gpio5 12 GPIO_ACTIVE_HIGH>;
		};

		wifi-reset {
			label = "Wi-Fi Reset";
			gpios = <&gpio2 17 GPIO_ACTIVE_LOW>;
		};

		wifi-device-wake {
			label = "Wi-Fi Device Wake";
			gpios = <&gpio5 10 GPIO_ACTIVE_LOW>;
		};
	};
};
